@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Saira Condensed', sans-serif;
}

.quadrilateral {
  clip-path: polygon(0, 0, 100% 0, 100% 100%, 69% 90%, 0 100%);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height to center vertically */
  padding: 20px; /* Space around the container */
  background-color: #f0f0f0; /* Optional background color */
}

html {
  scroll-behavior: smooth;
}

